.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-view {
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
}
.heading {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
  color: #cbd5e1;
}
.text {
  font-family: 'Roboto';
  font-size: 10px;
  color: #cbd5e1;
}
.button {
  height: 60px;
  width: 120px;
  background-color: #4f46e5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 20px;
}
.job-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 7px;
  background-color: grey;
  min-height: 100vh;
}
.first-part {
  display: flex;
  flex-direction: column;
}
.image-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.type-rating {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.description-head {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}
.job-description {
  font-family: 'Roboto';
  font-size: 17px;
  color: #ffffff;
}
.rating {
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}
.company-logo {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 30px;
}
star {
  color: #fbbf24;
  font-size: 20px;
  margin-right: 10px;
}
.rating-star {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.start-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location-icon {
  font-size: 20px;
  margin-right: 5px;
}
.hr-line {
  color: white;
  width: 100%;
  padding: 5px;
}
.second-part {
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.visit-anchor {
  color: #6366f1;
  font-size: 20px;
}
.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.li-job-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}
.skills-image {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.life-at-company-container {
  display: flex;
  flex-direction: row;
}
.life-at-company {
  height: 200px;
  width: 220px;
  border-radius: 7px;
  margin-left: 10px;
}
.similar-jobs-list-container {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}
