.similar-jobs-container {
  width: 350px;
  padding: 20px;
  background-color: #2c364c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.head-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-logo {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  margin-left: 30px;
}
.type-and-rating-container {
  display: flex;
  flex-direction: column;
}
.employment-type {
  font-family: 'Roboto';
  font-size: 30px;
  color: #f1f5f9;
  font-weight: bold;
}
.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating-text {
  font-family: 'Roboto';
  font-size: 30px;
  color: #f1f5f9;
  font-weight: bold;
}
.star {
  color: yellow;
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.decsription {
  font-family: 'Roboto';
  font-size: 15px;
  color: #f1f5f9;
  flex-wrap: wrap;
}
.location-and-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
